<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel" style="width: auto;">
      <form class="login-form" (submit)="onLoginSubmit()">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="/assets/images/logo-100x100.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Matcha | Login</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">perm_identity</i>
            <input [(ngModel)]="username" id="username" name="username" type="text" class="form-control validate">
            <label for="username" class="center-align">Numele de utilizator</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input [(ngModel)]="password" id="pass" name="password" type="password" class="form-control validate">
              <label for="pass">Parolă</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" [(ngModel)]="checked" name="checked" id="remember"/>
              <label for="remember">Reține-mă</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12" type="submit" name="submit" [disabled] = "!valid">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="/register">Înregistrare</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="/recover">Ați uitat parola?</a></p>
          </div>
        </div>

      </form>
    </div>
  </div>
