@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #efefef;
}
.notifications {
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.notification {
    width: 100%;
    height: auto;
    display: flex;
    margin: 5px 0;
}

.round-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

.round-image img {
    height: 100%;
    width: auto;
}

.added {
    display: flex;
    flex-direction: row;
}

.name {
    font-weight: 600;
}

.added {
    padding-top: 10px;
}

#tabs {
    margin-top: 10px;
}

#tabs li {
    width: 48%;
}