  <ul id="slide-out" class="side-nav">
    <app-filter></app-filter>
  </ul>
  <a materialize="sideNav" [materializeParams]="params" href="#" data-activates="slide-out"><button class="btn"><i class="material-icons">filter_list</i>Deschide</button></a>

<h4 class="page-header center">Explorează utilizatori</h4>
  <div *ngIf="profiles" class="items">
    <div class="card"
        *ngFor="let profile of profiles | async"
        (click)="onSelect(profile)">
            <div class="card-image">
              <img *ngIf="profile.photo" [src]="profile.photo">
              <span class="card-title">{{ profile.firstname }} {{ profile.lastname }}</span>
            </div>
            <div class="card-content">
              <p>{{ profile.biography }}</p>
            </div>
      </div>
    </div>
<button class="btn" routerLink="/profile">Profilul meu</button>
