html, body, div, span, h1, h2, p, a, strong, ul, li {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}
.online {
  float: left;
  color: green;
}
i {
  color: grey;
}
i.liked {
  color: red;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:hover, *:focus, *:active {
  outline: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
}
section {
  display: block;
}
h1, h2 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 25px 0;
  line-height: 1.1;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
p {
  margin: 0 0 25px 0;
}
strong {
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin: 0 0 25px 20px;
}
ul {
  list-style: disc;
}
img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.rsicon {
  display: inline-block;
  vertical-align: middle;
}
::-webkit-input-placeholder {
  color: #333;
}
:-moz-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #333;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
}
.col-xs-5, .col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-5, .col-xs-7 {
  float: left;
}
.col-xs-5 {
  width: 41.66667%;
}
.col-xs-7 {
  width: 58.33333%;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
  letter-spacing: .03em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px;
  margin: 0;
  border: 0;
  background-image: none;
}
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover, .btn:focus {
  opacity: .95;
  text-decoration: none;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-border {
  color: #3d4451 !important;
  border: 1px solid #cbcdcf;
  background: transparent;
  box-shadow: none;
}
.btn-lg {
  font-size: 15px;
  padding: 15px 20px;
  min-width: 130px;
}
.ripple {
  overflow: hidden;
  position: relative;
  user-select: none;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.social li {
  display: inline-block;
  margin: 5px 15px;
}
.social li a {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: -webkit-transition, background-color .25s linear 0s;
  -moz-transition: -moz-transition, background-color .25s linear 0s;
  transition: transition, background-color .25s linear 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.social li a, .social li a .rsicon {
  line-height: 45;
}
.social li a .rsicon {
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  display: block;
}
@media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .social li a {
    width: 35px;
    height: 35px;
  }
  .social li a, .social li a .rsicon {
    line-height: 35px;
  }
  .social li a .rsicon {
    font-size: 17px;
  }
}
body {
  color: #3d4451;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #efefef;
}
.section {
  padding-top: 70px;
}
.section-box {
  padding: 40px 50px;
}
.section-box {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
@media (max-width: 992px) {
  .section-box {
    padding: 50px 40px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
  }
  .section-box {
    padding: 30px 20px;
  }
}
.section-txt-btn {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
}
.section-txt-btn .btn {
  padding: 21px 55px;
  letter-spacing: .05em;
  margin: 5px;
}
.section-txt-btn p:last-child {
  margin-bottom: 0;
}
.section-about {
  padding-top: 40px;
  position: relative;
}
.section-about .section-box {
  padding: 0;
}
.section-about .profile {
  padding: 57px 50px 15px 50px;
}
.section-about .profile-photo {
  margin-right: 10%;
  margin-bottom: 10px;
}
.section-about .profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d4451;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}
.report {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gmaps {
  height: 70%;
  background-color: green;
  margin: 5px;
}
.section-about .profile-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
}
.section-about .profile-title span {
  font-weight: 300;
}
.section-about .profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
}
.profile-photo img {
  width: 100%;
  display: block;
}
.profile-preword {
  float: left;
  margin-bottom: 10px;
}
.profile-preword span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
}
.profile-preword span:before {
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
}
.profile-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-list li {
  margin-bottom: 13px;
}
.profile-list .title {
  display: block;
  width: 120px;
  float: left;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.profile-list .cont {
  display: block;
  margin-left: 125px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}
.profile-list .button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
  padding: 5px 8px;
  display: inline-block;
  position: relative;
  top: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.profile-list .rsicon {
  margin-right: 10px;
  vertical-align: baseline;
}
.profile-social {
  padding: 15px 0;
}
@media (max-width: 992px) {
  .section-about .profile {
    padding: 50px 40px 15px 40px;
  }
  .section-about .profile-photo {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .section-about {
    padding-top: 10px;
  }
  .section-about .profile {
    padding: 30px 20px 15px 20px;
  }
  .profile-list .title, .profile-list .cont {
    width: 100%;
    float: none;
    line-height: 1.2;
  }
  .profile-list .title {
    margin-bottom: 3px;
  }
  .profile-list .cont {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .section-about .row > div {
    width: 100%;
  }
  .section-about .profile-title {
    font-size: 28px;
  }
}
