<section *ngIf="profile" id="about" class="section section-about">
   <div class="card">
     <div class="card-reveal">
      <i class="material-icons right">close</i>
    <span class="card-title grey-text text-darken-4">Locația aproximativă.</span>
    <div class="gmaps">google maps palce</div>
    <div class="report">
      <a *ngIf="profile.block" class="btn red" (click)="unblock()">Deblochează</a>
      <a *ngIf="!profile.block" class="btn red" (click)="block()" >Blochează</a>
      <a class="btn pink" (click)="report()">Raportează</a>
      </div>
     </div>
      <div class="section-box">
         <div class="profile">
            <div class="row">
               <div class="col-xs-5">
                  <div class="profile-photo"><img [src]="profile.photo" alt=""></div>
               </div>
               <div class="col-xs-7">
                  <div class="profile-info">
                    <i *ngIf="profile.online === 'Y'" class="material-icons online">fiber_manual_record</i>
                     <h1 class="profile-title">
                        {{ profile.firstname }} {{ profile.lastname }}
                     </h1>
                     <i class="material-icons activator right">more_vert</i>
                  </div>
                  <ul class="profile-list">
                    <li *ngIf="profile.online !== 'Y'" class="clearfix">
                      <strong class="title">Ultima vizită</strong>
                      <span class="cont">{{profile.online | date: 'medium'}}</span>
                    </li>
                     <li class="clearfix">
                        <strong class="title">Născut</strong>
                        <span class="cont">{{profile.birthdate | date: 'longDate'}}</span>
                     </li>
                     <li class="clearfix">
                        <strong class="title">Sex</strong>
                        <span *ngIf="profile.gender === 'm'" class="cont"><i class="fa fa-mars" aria-hidden="true"></i> (masculin)</span>
                        <span *ngIf="profile.gender === 'f'" class="cont"><i class="fa fa-venus" aria-hidden="true"></i> (femenin)</span>
                        <span *ngIf="profile.gender === '-'" class="cont"><i class="fa fa-venus-mars" aria-hidden="true"></i> (neutru)</span>
                     </li>
                     <li class="clearfix">
                        <strong class="title">Interese sexuale</strong>
                        <span *ngIf="profile.preferences === 'm'" class="cont"><i class="fa fa-mars" aria-hidden="true"></i> (masculin)</span>
                        <span *ngIf="profile.preferences === 'f'" class="cont"><i class="fa fa-venus" aria-hidden="true"></i> (femenin)</span>
                        <span *ngIf="profile.preferences === '-'" class="cont"><i class="fa fa-venus-mars" aria-hidden="true"></i> (neutru)</span>
                     </li>
                     <li class="clearfix">
                        <strong class="title">Locația</strong>
                        <span class="cont">{{profile.location}}</span>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <ul class="tags">
           <li *ngFor="let tag of tags">
             <a href="" class="tag">{{tag}}</a>
           </li>
         </ul>
      </div>
   </div>
   <div class="card light-blue">
     <div class="card-content white-text">
       <span class="card-title">Despre mine</span>
       <p>{{profile.biography}}</p>
     </div>
   </div>

 <div *ngIf="countrent && liked" class="gallery">
   <div *ngFor="let url of imageURLs" class="ph">
     <img [src]="url" class="image" style="width:100%">
     <div *ngIf="myId != profile.id" class="middle">
        <i class="fa fa-heart large" (click)="like(url); " [style.color]="isPhotoLiked(url)"></i>
      </div>
   </div>
 </div>
</section>
