<h5 class="page-header center">Informații generale</h5>
<div class="col s12 z-depth-4 card-panel">
<div class="row" *ngIf="user">
  <form class="col s12" (submit)='onUpdateSubmit()'>
    <div class="row">

      <div class="input-field col s6">
        <input placeholder="Inroduceți prenumele" id="first_name" [(ngModel)]='user.firstname' name='firstname' type="text" class="validate">
        <label for="first_name" class="active">Prenume</label>
      </div>

      <div class="input-field col s6">
        <input placeholder="Inroduceți numele" id="last_name" [(ngModel)]='user.lastname' name='lastname' type="text" class="validate">
        <label for="last_name" class="active">Nume</label>
      </div>

    </div>

    <div class="row">

      <div class="input-field col s6">
        <input placeholder="Introdu numele de utilizator" id="user_name" [(ngModel)]='user.username' name='username' type="text" class="validate">
        <label for="user_name" class="active">Nume de utilizator</label>
      </div>

      <div class="input-field col s6">
        <label for="user_location" class="active">Preferințele sexuale</label>
        <select id='user_gender' [(ngModel)]='user.preferences' name="preferences" materialize="material_select">
            <option value="" disabled >Selectați preferințele dvs.</option>
            <option value="m" [selected]="user.preferences == 'm' ? 'selected' : null">Masculin</option>
            <option value="f" [selected]="user.preferences == 'f' ? 'selected' : null">Femenim</option>
            <option value="-" [selected]="user.preferences == '-' ? 'selected' : null">Altul</option>
        </select>
      </div>
    </div>

    <div id="locationField">
      <label for="user_location" class="active">Locație</label>
      <input placeholder="Introduceți localitatea dvs." name="user.location" type="text" size="100" [(ngModel)]="user.location"
        (city)='user.city=$event'
        (country)='user.country=$event'
        (lat)='user.lat=$event'
        (lng)='user.lng=$event'
      id="autocomplete" ng2-google-place-autocomplete/>
    </div>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea placeholder="Introduceți câteva detalii despre dvs." id="user_biography" class="materialize-textarea" [(ngModel)]='user.biography' name="biography"></textarea>
            <label for="user_biography" class="active">Biografie</label>
          </div>
        </div>
      </form>
    </div>


    <input type="submit" class="btn waves-effect waves-light" value="Actualizează profilul">
  </form>
</div>
</div>
