<h5 class="page-header center">Editează tag-urile</h5>
<div class="col s12 z-depth-4 card-panel">
<div *ngIf="chipsInit" class="chips" materialize="material_chip" [materializeParams]="[chipsInit]" (chip.add)="add($event.detail)" (chip.delete)="delete($event.detail)"></div>
<div *ngIf="!chipsInit" class="chips" materialize="material_chip" (chip.add)="add($event.detail)" (chip.delete)="delete($event.detail)"></div>
</div>
