<h3 class="page-header center">Înregistrare</h3>
<div class="col s12 z-depth-4 card-panel">
<div class="row">
  <form (submit)="onRegisterSubmit()" class="col s12">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" [(ngModel)]="lastname" name="lastname" class="form-control validate">
        <label for="icon_prefix">Nume</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" [(ngModel)]="firstname" name="firstname" class="form-control validate">
        <label for="icon_prefix">Prenume</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">perm_identity</i>
        <input id="perm_identity" type="text" [(ngModel)]="username" name="username" class="form-control validate">
        <label for="perm_identity">Username</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">mail</i>
        <input id="icon_prefix" type="email" [(ngModel)]="email" name="email" class="form-control validate">
        <label for="icon_prefix">E-mail</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">fiber_smart_record</i>
        <select id='user_gender' [(ngModel)]='gender' name="gender" materialize="material_select">
            <option value="" disabled >Selectați sexul dvs.</option>
            <option value="m" [selected]="gender == 'm' ? 'selected' : null">Masculin</option>
            <option value="f" [selected]="gender == 'f' ? 'selected' : null">Femenim</option>
            <option value="-" [selected]="gender == '-' ? 'selected' : null">Altul</option>
        </select>
      </div>
      <div class="input-field col s6" >
        <i class="material-icons prefix">perm_contact_calendar</i>
        <input type="date" placeholder="Alegeți alegeți data nașterii." class="datepicker" materialize="pickadate" [materializeParams]="[{format: 'yyyy/mm/dd', max: maxdate}]" [(ngModel)]="birthdate" name="birthdate">
        <label for="icon_telephone">Verificare vârstă.</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="icon_telephone" type="password" [(ngModel)]="password" name="password" class="form-control validate">
        <label for="icon_telephone">Parola</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="icon_telephone" type="password" [(ngModel)]="repeat" name="repeat" class="form-control validate">
        <label for="icon_telephone">Repetă parola</label>
      </div>

      <div class="input-field col s6 center" >
        <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!valid">
      </div>

  </form>
</div>
</div>
