@import url('https://fonts.googleapis.com/css?family=Sacramento');

#logo{
  font-family: 'Sacramento', cursive;
}

.notification-badge {
    position: relative;
    right: -30px;
    top: -75px;
    padding: 5px;
    background-color: #3f51b5;
    border-radius: 50%;
}

nav ul li.active {
    height: 64px;
}