.statistics {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.statistics div {
    width: 48%;
    margin: 2px;
    height: 150px;
    justify-content: space-around;
}

.statistics div p {
    color: #ecf0f1;
    padding-top: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    overflow: hidden;
}

.likes {
    background: url(/assets/images/pattern-likes.svg) repeat;
}

.guests {
    background: url(/assets/images/pattern-guests.svg) repeat;
}

.connections {
    background: url(/assets/images/pattern-connect.svg) repeat;
}

.messages {
    background: url(/assets/images/pattern-messages.svg) repeat;
}

@media screen and (max-width: 996px) {
    .statistics div p {
        font-size: 20px;
    }
}