<div *ngIf="user" class="statistics">
    <div class="likes">
        <p>{{ user.likes || 0 }} LIKEURI</p>
    </div>
    <div class="guests">
        <p>{{ user.guests || 0 }} VIZITATORI</p>
    </div>
    <div class="connections">
        <p>{{ user.connections || 0 }} CONECTARI</p>
    </div>
    <div class="messages">
        <p>{{ user.messages || 0 }} MESAJE</p>
    </div>
    <h4 class="center">Fame rating: {{ user.fr || 0 }} </h4>
</div>