<div *ngIf="loading" class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
</div>

<div *ngIf="!loading" class="card">
    <div class="card-title">
        <i class="material-icons" [routerLink]="['/chat']">arrow_back</i>
        <span style="margin: auto">Chat cu {{ this.fullname }}</span>
    </div>
    <div id="chat" class="card-content">
        <div>
            <div *ngFor="let message of messages">
                <p class="message" [ngClass]="{'me': message.me, 'them': !message.me}">
                    {{ message.message }}
                    <span class="tooltiptext" [ngClass]="{'at-left': message.me, 'at-right': !message.me}">{{message.date | date:'short' }}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="card-action">
        <input (keydown)="keyDownFunction($event)" [(ngModel)]="message" type="text" />
        <a *ngIf="message && message != ''" (click)="onSend()" class="write-link send"></a>
    </div>
</div>
